<.header>
  Your billing information have been registered.
  <:subtitle>We will send your receipt in 3-5 working days.</:subtitle>
</.header>

<.back navigate={~p"/billing/#{@token}"}>Back to billing info.</.back>
