<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={get_csrf_token()} />

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/assets/images/favicon.ico"
      sizes="16x16 24x24 32x32 48x48 64x64"
    /><link
      rel="apple-touch-icon"
      type="image/png"
      href="/assets/images/favicon-57.png"
      sizes="57x57"
    /><link
      rel="apple-touch-icon-precomposed"
      type="image/png"
      href="/assets/images/favicon-57.png"
      sizes="57x57"
    /><link
      rel="apple-touch-icon"
      type="image/png"
      href="/assets/images/favicon-72.png"
      sizes="72x72"
    /><link
      rel="apple-touch-icon"
      type="image/png"
      href="/assets/images/favicon-114.png"
      sizes="114x114"
    /><link
      rel="apple-touch-icon"
      type="image/png"
      href="/assets/images/favicon-120.png"
      sizes="120x120"
    /><link
      rel="apple-touch-icon"
      type="image/png"
      href="/assets/images/favicon-144.png"
      sizes="144x144"
    /><link
      rel="apple-touch-icon"
      type="image/png"
      href="/assets/images/favicon-152.png"
      sizes="152x152"
    />

    <title>Divisare</title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body>
    <script>
      function ga () {
        var params = Array.prototype.slice.call(arguments, ga.length);
        // console.log("GoogleAnalytics: " + params);
      };
    </script>

    <%= @inner_content %>
  </body>
</html>
