<div class="account">
  <div class="row">
    <div class="small-12 columns">
      <h1 id="message">Payment method update.</h1>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <.stripe api_key={Application.get_env(:divisare, :stripe_publishable_key)} />

      <p>
        <.link href={URI.parse("#{Application.get_env(:divisare, :main_host)}/people/edit")}>
          Back to profile settings
        </.link>
      </p>
    </div>
  </div>
</div>
