<div class="account">
  <div class="row">
    <div class="small-12 columns">
      <h1>Your billing information has been registered.</h1>
      <h5>We will send your receipt in 3-5 working days.</h5>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <.back navigate={~p"/billing/#{@token}"}>Back to billing info.</.back>
    </div>
  </div>
</div>
