.account #account-form label,
.account #billing-form label {
  font-size: 0.75rem;
  color: #999;
}

.account #account-form .button,
.account #billing-form .button,
.account #payment-form .button {
  -moz-box-shadow: 1px 1px 4px 0px #999;
  -webkit-box-shadow: 1px 1px 4px 0px #999;
  box-shadow: 1px 1px 4px 0px #999;
  margin-top: 0.6rem;
  border: 1px solid #999;
  background: #fff;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #000;
  padding: 0.75rem;
}

a {
  color: #0078ff;
}

.onboarding-description p {
  font-size: 0.875rem !important;
  margin-top: 2rem;
}

.account h1 {
  font-size: 1.125rem;
  margin: 3rem 0 0;
}

.account h2.subtitle {
  font-size: 0.875rem;
  line-height: normal;
  letter-spacing: normal;
  font-weight: 400;
  color: #999;
  margin: 0;
}

.account #payment-form {
  margin-top: 2rem;
}

.account #payment-form button {
  margin-bottom: 0.5rem;
}

.account a.subscription-options {
  text-transform: uppercase;
  font-size: 0.75rem;
}
