<div class="subscription status">
  <div class="row">
    <div class="small-12 columns">
      <h1>Your account</h1>
    </div>
  </div>

  <.user_enrollment_type enrollment={@enrollment} token={@token} />
</div>
