<.header>
  <:subtitle>Wait for confirmation.</:subtitle>
  <:actions>
  </:actions>

  <script src="https://js.stripe.com/v3/"></script>
</.header>

<span id="payment-message"></span>

<.back navigate={~p"/"}>Back to main page</.back>
