<div class="account">
  <div class="row">
    <div class="small-12 columns">
      <h1>Some error has occurred</h1>
      <h5>Payment failed.</h5>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <.back navigate={~p"/onboarding"}>Back to onboarding page</.back>
    </div>
  </div>
</div>
